* {
    margin: 0;
   padding: 0;
}
.header {
    background-color: aqua;
    height: 100px;
}
.header-logo {
    padding-left: 565px;
    padding-right: 565px;
}
.header-logo h1 {
    font-size: 30pxpx;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main {
    background-color: rgb(48, 219, 219);
    height: 50px;
    font-size: 20px;
}
.main li {
    list-style: none;
    float: left;
    padding: 20px 20px;
}
.footer {
    background-color: rgb(23, 131, 107);
    height: 500px;
}
* {
    margin: 0;
   padding: 0;
}